################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/nbtc/Cli/bin
/src/nbtc/Cli/obj
/src/nbtc/Nbtc/bin
/src/nbtc/Nbtc/obj
/src/nbtc/NodeWalker/bin
/src/nbtc/NodeWalker/obj
/src/nbtc/Tests/bin
/src/nbtc/Tests/obj
/src/nbtc/.vs
/src/nbtc/.idea
