<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <section name="dnsSeederSection"
                 type="Nbtc.Client.DnsSeederSection, Nbtc" />
    </configSections>

    <connectionStrings>
        <add name="node.sqlite" 
             connectionString="data source=node.sqlite;Version=3;Pooling=True;Max Pool Size=100;Synchronous=Off;journal mode=Memory;"
             providerName="System.Data.SQLite"/>
    </connectionStrings>

    <dnsSeederSection>
        <seeds>
            <add value="seed.bitcoin.sipa.be" />
            <add value="dnsseed.bluematt.me" />
            <add value="dnsseed.bitcoin.dashjr.org" />
            <add value="seed.bitcoin.jonasschnelli.ch" />
            <add value="seed.btc.petertodd.org" />
        </seeds>
    </dnsSeederSection>

</configuration>
